<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add List</title>
</head>
<body>
  <%- include('navbar') %>
  <h1>To Add list</h1>
  
</body>
</html>